# Procesamiento de Datos con Python 

## FES Aragon
## ICO

### Paola Barron Leyva

In [4]:
! pip install "pymongo[srv]"

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pymongo[srv] in c:\users\paohm\appdata\roaming\python\python310\site-packages (4.4.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in c:\users\paohm\appdata\roaming\python\python310\site-packages (from pymongo[srv]) (2.3.0)

In [5]:
import pymongo

In [8]:
usuario = 'fesalu'
passwd = 'nosqlfes123'
cluster = 'cluster0-shard-00-00.8pyt4.mongodb.net'
n1 = 'cluster0-shard-00-01.8pyt4.mongodb.net'
n2 = 'cluster0-shard-00-02.8pyt4.mongodb.net'
puerto = '27017'
mongo_str = f"mongodb://{usuario}:{passwd}@{cluster}:{puerto},{n1}:{puerto},{n2}:{puerto}/?ssl=true&replicaSet=atlas-nok9e6-shard-0&authSource=admin&retryWrites=true&w=majority"
mongoClient = pymongo.MongoClient(mongo_str)
mongoClient

MongoClient(host=['cluster0-shard-00-01.8pyt4.mongodb.net:27017', 'cluster0-shard-00-02.8pyt4.mongodb.net:27017', 'cluster0-shard-00-00.8pyt4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-nok9e6-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True)

In [12]:
# Ver las bases de datos disponibles
mongoClient.list_database_names()

['OmarMendozaGonzalez',
 'agenda',
 'colegio',
 'fundamentosmongo',
 'itsa',
 'pdcd',
 'taller',
 'tbd',
 'tebd',
 'admin',
 'local']

In [13]:
db = mongoClient.colegio
db

Database(MongoClient(host=['cluster0-shard-00-01.8pyt4.mongodb.net:27017', 'cluster0-shard-00-02.8pyt4.mongodb.net:27017', 'cluster0-shard-00-00.8pyt4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, replicaset='atlas-nok9e6-shard-0', authsource='admin', retrywrites=True, w='majority', tls=True), 'colegio')

In [49]:
f = db.alumnos.find({'curp': {'$exists':0}})
f

In [43]:
list(f) #Vacia el cursor

[]

In [50]:
dfm_mongo = pd.DataFrame(list(f))
dfm_mongo

,_id,clave_alu,ap_paterno,ap_materno,nombre,sexo,ciudad,email,materias,evaluaciones
0,5f873e4a7591b0b48f65faf9,11030177,FERRUSCA,ANDRADE,OCTAVIO,M,QUERETARO,tavoferrus_11@email.com,NaN,NaN
1,5f873e4a7591b0b48f65faf6,11030172,BORBOLLA,RAMOS,ARGELIA,F,QUERETARO,kargi_gogos@email.com,NaN,NaN
2,5f873e4a7591b0b48f65fafc,11030199,ROSALES,APREZA,NESTOR MARTIN,M,QUERETARO,nestoriwh@hotmai.com,NaN,NaN
3,5f873e4a7591b0b48f65fb04,11030217,FERRUSCA,ANDRADE,CESAR,M,QUERETARO,cesar_tum-b@email.com,NaN,NaN
4,5f873e4a7591b0b48f65fafb,11030173,CASTRO,MANCERA,KARLA MARIANA,F,SANTIAGO DE QUERETARO,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
197,5f873e4a7591b0b48f65fe1a,14080001,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,NaN,NaN
198,5f873e4a7591b0b48f65fe1d,12080001,,,,NaN,NaN,NaN,NaN,NaN
199,5f873e4a7591b0b48f65fe19,14080002,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,NaN,NaN
200,5f873e4a7591b0b48f65fe1b,14080003,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,NaN,NaN
201,5f873e4a7591b0b48f65fe1c,14080004,MEJIA,JIMENEZ,LUISA,NaN,NaN,NaN,NaN,NaN

In [52]:
url = 'https://es.wikipedia.org/wiki/ISO_3166-2:MX'
df_html = pd.read_html(url)
print(type(df_html))
df_html

<class 'list'>

[                                               Estado  \
 0                                      Aguascalientes
 1                                     Baja California
 2                                 Baja California Sur
 3                                            Campeche
 4                                             Chiapas
 5                                           Chihuahua
 6                                    Ciudad de México
 7                                            Coahuila
 8                                              Colima
 9                                             Durango
 10                                         Guanajuato
 11                                           Guerrero
 12                                            Hidalgo
 13                                            Jalisco
 14                                             México
 15                                          Michoacán
 16                                            Morelos
 17                                            Nayarit
 18                                         Nuevo León
 19                                             Oaxaca
 20                                             Puebla
 21                                          Querétaro
 22                                       Quintana Roo
 23                                    San Luis Potosí
 24                                            Sinaloa
 25                                             Sonora
 26                                            Tabasco
 27                                         Tamaulipas
 28                                           Tlaxcala
 29                                           Veracruz
 30                                            Yucatán
 31                                          Zacatecas
 32  Notas: ↑ Registro Nacional de Población México...

                                              Variable  \
 0                                                Ags.
 1                                                B.C.
 2                                              B.C.S.
 3                                               Camp.
 4                                               Chis.
 5                                               Chih.
 6                                             C.D.Mx.
 7                                               Coah.
 8                                                Col.
 9                                                Dgo.
 10                                               Gto.
 11                                               Gro.
 12                                               Hgo.
 13                                               Jal.
 14                                      Edo. Méx.[D]​
 15                                              Mich.
 16                                               Mor.
 17                                               Nay.
 18                                               N.L.
 19                                               Oax.
 20                                               Pue.
 21                                               Qro.
 22                                        Q. Roo.[F]​
 23                                             S.L.P.
 24                                               Sin.
 25                                               Son.
 26                                               Tab.
 27                                             Tamps.
 28                                              Tlax.
 29                                               Ver.
 30                                               Yuc.
 31                                               Zac.
 32  Notas: ↑ Registro Nacional de Población México...

                                            RENAPO[A]​  \
 0                                                  AS
 1                                                  BC
 2                                                  BS
 3                                                  CC
 4                                                  CS
 5                                                  CH
 6                                                  DF
 7                                                  CL
 8                                                  CM
 9                                                  DG
 10                                                 GT
 11                                                 GR
 12                                                 HG
 13                                                 JC
 14                                                 MC
 15                                                 MN
 16                                                 MS
 17                                                 NT
 18                                                 NL
 19                                                 OC
 20                                                 PL
 21                                                 QO
 22                                                 QR
 23                                                 SP
 24                                                 SL
 25                                                 SR
 26                                                 TC
 27                                                 TS
 28                                                 TL
 29                                                 VZ
 30                                                 YN
 31                                                 ZS
 32  Notas: ↑ Registro Nacional de Población México...

                                            Dos letras  \
 0                                                  AG
 1                                                  BC
 2                                                  BS
 3                                                  CM
 4                                                  CS
 5                                                  CH
 6                                              CX[B]​
 7                                                  CO
 8                                                  CL
 9                                                  DG
 10                                                 GT
 11                                                 GR
 12                                                 HG
 13                                                 JC
 14                                             EM[E]​
 15                                                 MI
 16                                                 MO
 17                                                NaN
 18                                                 NL
 19                                                 OA
 20                                                 PU
 21                                                 QT
 22                                                 QR
 23                                                 SL
 24                                                 SI
 25                                                 SO
 26                                                 TB
 27                                                 TM
 28                                                 TL
 29                                                 VE
 30                                                 YU
 31                                                 ZA
 32  Notas: ↑ Registro Nacional de Población México...

                                 Completo (ISO 3166-2)
 0                                              MX-AGU
 1                                              MX-BCN
 2                                              MX-BCS
 3                                              MX-CAM
 4                                              MX-CHP
 5                                              MX-CHH
 6                                          MX-CMX[C]​
 7                                              MX-COA
 8                                              MX-COL
 9                                              MX-DUR
 10                                             MX-GUA
 11                                             MX-GRO
 12                                             MX-HID
 13                                             MX-JAL
 14                                             MX-MEX
 15                                             MX-MIC
 16                                             MX-MOR
 17                                             MX-NAY
 18                                             MX-NLE
 19                                             MX-OAX
 20                                             MX-PUE
 21                                             MX-QUE
 22                                             MX-ROO
 23                                             MX-SLP
 24                                             MX-SIN
 25                                             MX-SON
 26                                             MX-TAB
 27                                             MX-TAM
 28                                             MX-TLA
 29                                             MX-VER
 30                                             MX-YUC
 31                                             MX-ZAC
 32  Notas: ↑ Registro Nacional de Población México...  ,
                         0                                   1
 0  Control de autoridades  Proyectos Wikimedia  Datos: Q28197]

In [53]:
print(type(df_html[0]))
df_html[0]

<class 'pandas.core.frame.DataFrame'>

,Estado,Variable,RENAPO[A]​,Dos letras,Completo (ISO 3166-2)
0,Aguascalientes,Ags.,AS,AG,MX-AGU
1,Baja California,B.C.,BC,BC,MX-BCN
2,Baja California Sur,B.C.S.,BS,BS,MX-BCS
3,Campeche,Camp.,CC,CM,MX-CAM
4,Chiapas,Chis.,CS,CS,MX-CHP
5,Chihuahua,Chih.,CH,CH,MX-CHH
6,Ciudad de México,C.D.Mx.,DF,CX[B]​,MX-CMX[C]​
7,Coahuila,Coah.,CL,CO,MX-COA
8,Colima,Col.,CM,CL,MX-COL
9,Durango,Dgo.,DG,DG,MX-DUR
10,Guanajuato,Gto.,GT,GT,MX-GUA
11,Guerrero,Gro.,GR,GR,MX-GRO
12,Hidalgo,Hgo.,HG,HG,MX-HID
13,Jalisco,Jal.,JC,JC,MX-JAL
14,México,Edo. Méx.[D]​,MC,EM[E]​,MX-MEX
15,Michoacán,Mich.,MN,MI,MX-MIC
16,Morelos,Mor.,MS,MO,MX-MOR
17,Nayarit,Nay.,NT,NaN,MX-NAY
18,Nuevo León,N.L.,NL,NL,MX-NLE
19,Oaxaca,Oax.,OC,OA,MX-OAX
20,Puebla,Pue.,PL,PU,MX-PUE
21,Querétaro,Qro.,QO,QT,MX-QUE
22,Quintana Roo,Q. Roo.[F]​,QR,QR,MX-ROO
23,San Luis Potosí,S.L.P.,SP,SL,MX-SLP
24,Sinaloa,Sin.,SL,SI,MX-SIN
25,Sonora,Son.,SR,SO,MX-SON
26,Tabasco,Tab.,TC,TB,MX-TAB
27,Tamaulipas,Tamps.,TS,TM,MX-TAM
28,Tlaxcala,Tlax.,TL,TL,MX-TLA
29,Veracruz,Ver.,VZ,VE,MX-VER
30,Yucatán,Yuc.,YN,YU,MX-YUC
31,Zacatecas,Zac.,ZS,ZA,MX-ZAC
32,Notas: ↑ Registro Nacional de Población México...,Notas: ↑ Registro Nacional de Población México...,Notas: ↑ Registro Nacional de Población México...,Notas: ↑ Registro Nacional de Población México...,Notas: ↑ Registro Nacional de Población México...

In [55]:
print(df_html[0].index)
df_html[0].drop(32, axis=0, inplace=True)
df_html[0]

RangeIndex(start=0, stop=33, step=1)

,Estado,Variable,RENAPO[A]​,Dos letras,Completo (ISO 3166-2)
0,Aguascalientes,Ags.,AS,AG,MX-AGU
1,Baja California,B.C.,BC,BC,MX-BCN
2,Baja California Sur,B.C.S.,BS,BS,MX-BCS
3,Campeche,Camp.,CC,CM,MX-CAM
4,Chiapas,Chis.,CS,CS,MX-CHP
5,Chihuahua,Chih.,CH,CH,MX-CHH
6,Ciudad de México,C.D.Mx.,DF,CX[B]​,MX-CMX[C]​
7,Coahuila,Coah.,CL,CO,MX-COA
8,Colima,Col.,CM,CL,MX-COL
9,Durango,Dgo.,DG,DG,MX-DUR
10,Guanajuato,Gto.,GT,GT,MX-GUA
11,Guerrero,Gro.,GR,GR,MX-GRO
12,Hidalgo,Hgo.,HG,HG,MX-HID
13,Jalisco,Jal.,JC,JC,MX-JAL
14,México,Edo. Méx.[D]​,MC,EM[E]​,MX-MEX
15,Michoacán,Mich.,MN,MI,MX-MIC
16,Morelos,Mor.,MS,MO,MX-MOR
17,Nayarit,Nay.,NT,NaN,MX-NAY
18,Nuevo León,N.L.,NL,NL,MX-NLE
19,Oaxaca,Oax.,OC,OA,MX-OAX
20,Puebla,Pue.,PL,PU,MX-PUE
21,Querétaro,Qro.,QO,QT,MX-QUE
22,Quintana Roo,Q. Roo.[F]​,QR,QR,MX-ROO
23,San Luis Potosí,S.L.P.,SP,SL,MX-SLP
24,Sinaloa,Sin.,SL,SI,MX-SIN
25,Sonora,Son.,SR,SO,MX-SON
26,Tabasco,Tab.,TC,TB,MX-TAB
27,Tamaulipas,Tamps.,TS,TM,MX-TAM
28,Tlaxcala,Tlax.,TL,TL,MX-TLA
29,Veracruz,Ver.,VZ,VE,MX-VER
30,Yucatán,Yuc.,YN,YU,MX-YUC
31,Zacatecas,Zac.,ZS,ZA,MX-ZAC

In [56]:
url = 'https://en.wikipedia.org/w/index.php?title=Solar_power&oldid=1022764142'
df_html2 = pd.read_html(url)
print(type(df_html2))
print("Numero de tablas en DF", len(df_html2))

<class 'list'>
Numero de tablas en DF 22

In [58]:
df_html2[2]

,Name,Country,Capacity MWp,Generation GWh p.a.,Size km2,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Year,Ref
0,Pavagada Solar Park,India,2050,NaN,53,2017,[2][53][54]
1,Tengger Desert Solar Park,China,1547,NaN,43,2016,[55][56]
2,Bhadla Solar Park,India,1515,NaN,40,2017,[57][58][59]
3,Kurnool Ultra Mega Solar Park,India,1000,NaN,24,2017,[60]
4,Datong Solar Power Top Runner Base,China,1000,NaN,NaN,2016,[61][62][63]
5,Longyangxia Dam Solar Park,China,850,NaN,23,2015,[64][65][66][67][68]
6,Rewa Ultra Mega Solar,India,750,NaN,NaN,2018,[69]
7,Kamuthi Solar Power Project,India,648,NaN,10.1,2016,[70][71]
8,Solar Star (I and II),United States,579,1664.0,13,2015,[72][73]
9,Topaz Solar Farm,United States,550,1301.0,24.6[74],2014,[75][76][77]

In [61]:
i = 0
for dfh in df_html2:
    print(str(i).center(60,"*"))
    dfh.info()
    i = i + 1

*****************************0******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       7 non-null      object
dtypes: object(1)
memory usage: 184.0+ bytes
*****************************1******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   (Solar Electricity Generation, Year)          16 non-null     object
 1   (Solar Electricity Generation, Energy (TWh))  16 non-null     object
 2   (Solar Electricity Generation, % of Total)    16 non-null     object
dtypes: object(3)
memory usage: 512.0+ bytes
*****************************2******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column                                                                       Non-Null Count  Dtype
---  ------                                                                       --------------  -----
 0   Name                                                                         10 non-null     object
 1   Country                                                                      10 non-null     object
 2   Capacity MWp                                                                 10 non-null     int64
 3   Generation GWh p.a.                                                          2 non-null      float64
 4   Size km2                                                                     8 non-null      object
 5   .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}Year  10 non-null     int64
 6   Ref                                                                          10 non-null     object
dtypes: float64(1), int64(2), object(4)
memory usage: 688.0+ bytes
*****************************3******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Name           11 non-null     object
 1   Capacity (MW)  11 non-null     object
 2   Location       11 non-null     object
 3   Notes          11 non-null     object
dtypes: object(4)
memory usage: 480.0+ bytes
*****************************4******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       1 non-null      object
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes
*****************************5******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       0 non-null      float64
 1   1       1 non-null      object
dtypes: float64(1), object(1)
memory usage: 144.0+ bytes
*****************************6******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
dtypes: object(1)
memory usage: 144.0+ bytes
*****************************7******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   vteSolar energy    24 non-null     object
 1   vteSolar energy.1  24 non-null     object
 2   vteSolar energy.2  2 non-null      object
dtypes: object(3)
memory usage: 704.0+ bytes
*****************************8******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       6 non-null      object
 1   1       6 non-null      object
dtypes: object(2)
memory usage: 224.0+ bytes
*****************************9******************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
*****************************10*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       8 non-null      object
 1   1       8 non-null      object
dtypes: object(2)
memory usage: 256.0+ bytes
*****************************11*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   vteSolar power by country    8 non-null      object
 1   vteSolar power by country.1  8 non-null      object
dtypes: object(2)
memory usage: 256.0+ bytes
*****************************12*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   vtePhotovoltaics    22 non-null     object
 1   vtePhotovoltaics.1  22 non-null     object
dtypes: object(2)
memory usage: 480.0+ bytes
*****************************13*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
*****************************14*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
*****************************15*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       5 non-null      object
 1   1       5 non-null      object
dtypes: object(2)
memory usage: 208.0+ bytes
*****************************16*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       3 non-null      object
 1   1       3 non-null      object
dtypes: object(2)
memory usage: 176.0+ bytes
*****************************17*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes
*****************************18*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   vteElectricity delivery    11 non-null     object
 1   vteElectricity delivery.1  11 non-null     object
 2   vteElectricity delivery.2  1 non-null      object
dtypes: object(3)
memory usage: 392.0+ bytes
*****************************19*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes
*****************************20*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 2 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   vteRenewable energy by country and territory    9 non-null      object
 1   vteRenewable energy by country and territory.1  9 non-null      object
dtypes: object(2)
memory usage: 272.0+ bytes
*****************************21*****************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2 entries, 0 to 1
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   0       2 non-null      object
 1   1       2 non-null      object
dtypes: object(2)
memory usage: 160.0+ bytes

In [ ]:
url = 'http://ingenieria.aragon.unam.mx/ico/alumnos/examenes_extraordinarios.rb'
df_html3 = pd.read_html(url)
print(type(df_html3))
print("Numero de extraordinarios", len(df_html3))